<div class="header">
  <dx-select-box
    [dataSource]="dashboards"
    [(value)]="dashboardId"
    valueExpr='id'
    displayExpr='name'
  >
  </dx-select-box>
  <dx-button
    stylingMode="contained"
    [text]="workingModeText"
    type="normal"
    (onClick)="changeWorkingMode()"
  >
  </dx-button>
</div>

<div class="content">
  <dx-dashboard-control 
    style="height:100%;" 
    endpoint='https://demos.devexpress.com/services/dashboard/api'
    [(dashboardId)]="dashboardId"
    [workingMode]='workingMode'
  >
  </dx-dashboard-control>
</div>